<div class="row" style="
height: 100vh;
place-content: center;
">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <!-- <img src="../images/images.png" alt="logo"> -->
            <p>Create an account or login</p>
            <div class="d-flex w-100 align-items-center">
                <a href="/users/signup" class="btn btn-primary btn-block mr-2 ">Register</a>
                <a href="/users/login" class="btn btn-outline-primary w-100">Login</a>
            </div>

        </div>
    </div>
</div>